<footer>
    <div class="jumbotron">
        <div class="container">
            <h1 align="center">
                Todos los derechos reservados
            </h1>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>