{{>header}}
<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <form action="/desmatricular" method="post">
        <p>Cedula:</p>
        <input type="number" name="cedula" required>
        <br>
        <p>Id del curso:</p>
        <input type="number" name="id" required>
        <br>
        <br>
        <button class="btn btn-dark">DESMATRICULAR</button>
        <br>
    </form>
    <br>
</div>
<br>
{{>footer}}