{{>header}}

<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h1>{{{registrarCurso id nombre_curso descripcion modalidad valor intensidad estado}}}</h1>
</div>
<br>
<br>

{{>footer}}