{{>header}}

<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h1>
        Bienvenido {{nombre}}
    </h1>
    {{{listar nombre cedula correo telefono}}}
</div>
<br>
<br>

{{>footer}}